<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
    <style>
        body{
            background-color:black;
            color:white;
            font-size:30px;
        }
    </style>
</head>
<body>
(obj.name)
(obj.admin)
(obj.private_key)
(obj.total_members)
(obj.current_member)
(obj.current_member)
(obj.members.all())
(obj.banned_member.all())
    <br><br>
{% for room in rooms %}
{{room}}
<br><br><br>
{% endfor %}

</body>
</html>